@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

textarea{
  width: 98vw;
  height: 20vh;
}

.translation{
 text-align: center;
}